# Data Wrangling

# Gather

In [89]:
import pandas as pd
import requests
import re

In [90]:
# the code solution below downloads the .tsv file from the url.
# This solution was found at https://www.kite.com/python/answers/how-to-download-a-csv-file-from-a-url-in-python

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
req = requests.get(url)
url_content = req.content
csv_file = open('image-predictions.tsv', 'wb')

csv_file.write(url_content)
csv_file.close()

In [91]:
#reads .tsv file downloaded above, sets it to dataframe 'df_image_predictions'

df_image_predictions = pd.read_csv('image-predictions.tsv', sep='\t')

In [92]:
# initial look at df_image_predictions
df_image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [93]:
# creates dataframe from twitter_archive_enhanced.csv, saves to "df_twitter_archive"

df_twitter_archive = pd.read_csv(r'C:\Users\14802\Desktop\DATA_PROJECTS\udacity_projects\Project_4_Data_Wrangling\datasets\twitter-archive-enhanced.csv')

In [94]:
# initial look at df_twitter_archive

df_twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [95]:
df_twitter_archive['tweet_id']

0       892420643555336193
1       892177421306343426
2       891815181378084864
3       891689557279858688
4       891327558926688256
               ...
2351    666049248165822465
2352    666044226329800704
2353    666033412701032449
2354    666029285002620928
2355    666020888022790149
Name: tweet_id, Length: 2356, dtype: int64

In [96]:
df_image_predictions['tweet_id']

0       666020888022790149
1       666029285002620928
2       666033412701032449
3       666044226329800704
4       666049248165822465
               ...
2070    891327558926688256
2071    891689557279858688
2072    891815181378084864
2073    892177421306343426
2074    892420643555336193
Name: tweet_id, Length: 2075, dtype: int64

In [97]:
tweet_ids = df_image_predictions['tweet_id']

In [98]:
tweet_ids = pd.DataFrame(data=tweet_ids)

In [99]:
tweet_ids

                tweet_id
0     666020888022790149
1     666029285002620928
2     666033412701032449
3     666044226329800704
4     666049248165822465
...                  ...
2070  891327558926688256
2071  891689557279858688
2072  891815181378084864
2073  892177421306343426
2074  892420643555336193

[2075 rows x 1 columns]

In [100]:
tweet_ids_csv = tweet_ids.to_csv('datasets/tweet_ids.csv', index=False)

In [101]:
tweet_ids

                tweet_id
0     666020888022790149
1     666029285002620928
2     666033412701032449
3     666044226329800704
4     666049248165822465
...                  ...
2070  891327558926688256
2071  891689557279858688
2072  891815181378084864
2073  892177421306343426
2074  892420643555336193

[2075 rows x 1 columns]

In [102]:
import json
import tweepy
import asyncio
from Constants import api

errors = []

# function requests tweets by tweet ids found in other dataframe from Twitter API
# API authentication was done in other file (Constants.py) to hide keys and tokens 

async def get_tweets():
    index = 0
    tweet_index = 0
    
    with open('tweets_json.txt', 'w') as outfile:

        while index < 2076:
            
        # uses asyncio to wait 15 minutes between each request due to twitter api rate limits
            if index == 900: 
                print('entered 900 sleep')
                await asyncio.sleep(960) 
                
            if index == 1800:
                print('entered 1800 sleep')
                await asyncio.sleep(900)
          
        # in a try/catch to send ids to an errors list in case any ids have been deleted and can no longer be retrieved 
            try: 
                tweets_to_get = tweet_ids['tweet_id'][tweet_index]
                tweets = api.get_status(tweets_to_get, tweet_mode='extended')
                
        # writes responses in json format in a txt file        
                json.dump(tweets._json, outfile)
                outfile.write('\n')
                print("Request successful!")
                tweet_index += 1
                index += 1
                
        # creates a list of errors to be referenced later on to know which id's from the dataframes were unavailable
            except tweepy.TweepError as err:
                errors.append(tweets_to_get)
                tweet_index += 1
                index += 1
                print("ID not found")
                
            pass

## <span style="color:red"> STOP -</span>

#### <span style="color:red"> Cell below takes approx 30 min to run - do not rerun if tweets_json.txt is already available. </span>

In [39]:
# asyncio typically runs into errors in jupyter notebook due to the kernel continuously running 
# big shoutout to Vinicuis Fortuna on GitHub providing this workaround 
# https://github.com/ipython/ipython/issues/11030#issuecomment-377723960

asyncio.run_coroutine_threadsafe(get_tweets(), asyncio.get_event_loop())

Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!

Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!

Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
entered 900 sleep
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!

Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!
Request successful!
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!

Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
entered 1800 sleep
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
ID not found
Request successful!

Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!
Request successful!

In [40]:
# ensures id's which were not found are saved to 'errors' list
errors

[680055455951884288,
 754011816964026368,
 759566828574212096,
 759923798737051648,
 771004394259247104,
 779123168116150273,
 802247111496568832,
 829374341691346946,
 837012587749474308,
 837366284874571778,
 842892208864923648,
 844704788403113984,
 851861385021730816,
 851953902622658560,
 861769973181624320,
 872261713294495745,
 873697596434513921,
 888202515573088257]

In [103]:
# hardcodes errors to new variable to avoid re-running the api requests in the future

ids_to_delete = [680055455951884288,
 754011816964026368,
 759566828574212096,
 759923798737051648,
 771004394259247104,
 779123168116150273,
 802247111496568832,
 829374341691346946,
 837012587749474308,
 837366284874571778,
 842892208864923648,
 844704788403113984,
 851861385021730816,
 851953902622658560,
 861769973181624320,
 872261713294495745,
 873697596434513921,
 888202515573088257]

In [104]:
# reads txt file

with open('tweets_json.txt') as file:
    json_tweets = []
    for line in file:
        json_tweets.append(line)

In [105]:
# extracts tweet_id, retweet count, and favorite count from the json objects in txt file

tweet_list = []
for tweet in json_tweets:
    tweet_id = json.loads(tweet)['id']
    retweet_count = json.loads(tweet)['retweet_count']
    favorite_count = json.loads(tweet)['favorite_count']
    tweet_list.append({'tweet_id': tweet_id, 'retweet_count': retweet_count, 'favorite_count':favorite_count})

In [106]:
# creates dataframe from json objects extracted above

api_tweets_df = pd.DataFrame(tweet_list, columns = ['tweet_id', 'retweet_count', 'favorite_count'])

# Assess

## Visual Assessment

First I will take an overview visual look at all three dataframes.

In [107]:
df_image_predictions

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

- "p1", "p2", "p3" / breed columns - casing and spaces not uniform

In [108]:
df_twitter_archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

- missing values - NaN
- tweet ids are listed in descending order (other two dataframes are listed in tweet id ascending order)
- the name column has some weird values such as "None" and "a" - si they are essentially null even though they don't appear as NaN

In [109]:
api_tweets_df

                tweet_id  retweet_count  favorite_count
0     666020888022790149            427            2315
1     666029285002620928             39             115
2     666033412701032449             36             101
3     666044226329800704            117             249
4     666049248165822465             37              90
...                  ...            ...             ...
2052  891327558926688256           7826           35639
2053  891689557279858688           7280           37299
2054  891815181378084864           3517           22303
2055  892177421306343426           5344           29626
2056  892420643555336193           7086           34161

[2057 rows x 3 columns]

## Programmatic Assessment

Now I'll use programmatic assessment to identify potential quality and/or tidiness issues.

In [110]:
df_image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

- column names are not descriptive (p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog)
- our shortest dataframe is api_tweets_df has only 2057 ids - which means we need to drop some ids from df_image_predictions for comparison

In [111]:
df_twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

- timestamp column is an object type, not a datetime type
- column numbers 1, 2, 6, 7, 8, and 9 all appear to have missing values (count is less than df length)
- our shortest dataframe is api_tweets_df has only 2057 ids - which means we need to drop some ids from df_twitter_archive for comparison

In [112]:
# checking to see if all of these are numbers and there isn't a random word thrown in
df_twitter_archive['rating_numerator'].unique()

array([  13,   12,   14,    5,   17,   11,   10,  420,  666,    6,   15,
        182,  960,    0,   75,    7,   84,    9,   24,    8,    1,   27,
          3,    4,  165, 1776,  204,   50,   99,   80,   45,   60,   44,
        143,  121,   20,   26,    2,  144,   88], dtype=int64)

In [113]:
# checking to see if all of these are numbers and there isn't a random word thrown in
df_twitter_archive['rating_denominator'].unique()

array([ 10,   0,  15,  70,   7,  11, 150, 170,  20,  50,  90,  80,  40,
       130, 110,  16, 120,   2], dtype=int64)

In [114]:
# takes a look at all the dog names
df_twitter_archive['name'].unique()

array(['Phineas', 'Tilly', 'Archie', 'Darla', 'Franklin', 'None', 'Jax',
       'Zoey', 'Cassie', 'Koda', 'Bruno', 'Ted', 'Stuart', 'Oliver',
       'Jim', 'Zeke', 'Ralphus', 'Canela', 'Gerald', 'Jeffrey', 'such',
       'Maya', 'Mingus', 'Derek', 'Roscoe', 'Waffles', 'Jimbo', 'Maisey',
       'Lilly', 'Earl', 'Lola', 'Kevin', 'Yogi', 'Noah', 'Bella',
       'Grizzwald', 'Rusty', 'Gus', 'Stanley', 'Alfy', 'Koko', 'Rey',
       'Gary', 'a', 'Elliot', 'Louis', 'Jesse', 'Romeo', 'Bailey',
       'Duddles', 'Jack', 'Emmy', 'Steven', 'Beau', 'Snoopy', 'Shadow',
       'Terrance', 'Aja', 'Penny', 'Dante', 'Nelly', 'Ginger', 'Benedict',
       'Venti', 'Goose', 'Nugget', 'Cash', 'Coco', 'Jed', 'Sebastian',
       'Walter', 'Sierra', 'Monkey', 'Harry', 'Kody', 'Lassie', 'Rover',
       'Napolean', 'Dawn', 'Boomer', 'Cody', 'Rumble', 'Clifford',
       'quite', 'Dewey', 'Scout', 'Gizmo', 'Cooper', 'Harold', 'Shikha',
       'Jamesy', 'Lili', 'Sammy', 'Meatball', 'Paisley', 'Albus',
       'Neptune', 'Quinn', 'Belle', 'Zooey', 'Dave', 'Jersey', 'Hobbes',
       'Burt', 'Lorenzo', 'Carl', 'Jordy', 'Milky', 'Trooper', 'Winston',
       'Sophie', 'Wyatt', 'Rosie', 'Thor', 'Oscar', 'Luna', 'Callie',
       'Cermet', 'George', 'Marlee', 'Arya', 'Einstein', 'Alice',
       'Rumpole', 'Benny', 'Aspen', 'Jarod', 'Wiggles', 'General',
       'Sailor', 'Astrid', 'Iggy', 'Snoop', 'Kyle', 'Leo', 'Riley',
       'Gidget', 'Noosh', 'Odin', 'Jerry', 'Charlie', 'Georgie', 'Rontu',
       'Cannon', 'Furzey', 'Daisy', 'Tuck', 'Barney', 'Vixen', 'Jarvis',
       'Mimosa', 'Pickles', 'Bungalo', 'Brady', 'Margo', 'Sadie', 'Hank',
       'Tycho', 'Stephan', 'Indie', 'Winnie', 'Bentley', 'Ken', 'Max',
       'Maddie', 'Pipsy', 'Monty', 'Sojourner', 'Odie', 'Arlo', 'Sunny',
       'Vincent', 'Lucy', 'Clark', 'Mookie', 'Meera', 'Buddy', 'Ava',
       'Rory', 'Eli', 'Ash', 'Tucker', 'Tobi', 'Chester', 'Wilson',
       'Sunshine', 'Lipton', 'Gabby', 'Bronte', 'Poppy', 'Rhino',
       'Willow', 'not', 'Orion', 'Eevee', 'Smiley', 'Logan', 'Moreton',
       'Klein', 'Miguel', 'Emanuel', 'Kuyu', 'Dutch', 'Pete', 'Scooter',
       'Reggie', 'Kyro', 'Samson', 'Loki', 'Mia', 'Malcolm', 'Dexter',
       'Alfie', 'Fiona', 'one', 'Mutt', 'Bear', 'Doobert', 'Beebop',
       'Alexander', 'Sailer', 'Brutus', 'Kona', 'Boots', 'Ralphie',
       'Phil', 'Cupid', 'Pawnd', 'Pilot', 'Ike', 'Mo', 'Toby', 'Sweet',
       'Pablo', 'Nala', 'Balto', 'Crawford', 'Gabe', 'Mattie', 'Jimison',
       'Hercules', 'Duchess', 'Harlso', 'Sampson', 'Sundance', 'Luca',
       'Flash', 'Finn', 'Peaches', 'Howie', 'Jazzy', 'Anna', 'Bo',
       'Seamus', 'Wafer', 'Chelsea', 'Tom', 'Moose', 'Florence', 'Autumn',
       'Dido', 'Eugene', 'Herschel', 'Strudel', 'Tebow', 'Chloe', 'Betty',
       'Timber', 'Binky', 'Dudley', 'Comet', 'Larry', 'Levi', 'Akumi',
       'Titan', 'Olivia', 'Alf', 'Oshie', 'Bruce', 'Chubbs', 'Sky',
       'Atlas', 'Eleanor', 'Layla', 'Rocky', 'Baron', 'Tyr', 'Bauer',
       'Swagger', 'Brandi', 'Mary', 'Moe', 'Halo', 'Augie', 'Craig',
       'Sam', 'Hunter', 'Pavlov', 'Maximus', 'Wallace', 'Ito', 'Milo',
       'Ollie', 'Cali', 'Lennon', 'incredibly', 'Major', 'Duke',
       'Reginald', 'Sansa', 'Shooter', 'Django', 'Diogi', 'Sonny',
       'Philbert', 'Marley', 'Severus', 'Ronnie', 'Anakin', 'Bones',
       'Mauve', 'Chef', 'Doc', 'Sobe', 'Longfellow', 'Mister', 'Iroh',
       'Baloo', 'Stubert', 'Paull', 'Timison', 'Davey', 'Pancake',
       'Tyrone', 'Snicku', 'Ruby', 'Brody', 'Rizzy', 'Mack', 'Butter',
       'Nimbus', 'Laika', 'Dobby', 'Juno', 'Maude', 'Lily', 'Newt',
       'Benji', 'Nida', 'Robin', 'Monster', 'BeBe', 'Remus', 'Mabel',
       'Misty', 'Happy', 'Mosby', 'Maggie', 'Leela', 'Ralphy', 'Brownie',
       'Meyer', 'Stella', 'mad', 'Frank', 'Tonks', 'Lincoln', 'Oakley',
       'Dale', 'Rizzo', 'Arnie', 'Pinot', 'Dallas', 'Hero', 'Frankie',
       'Stormy', 'Mairi', 'Loomis', 'Godi', 'Kenny', 'Deacon', 'Timmy',
       'Harper', 'Chipson', 'Combo', 'Dash', 'Bell', 'Hurley', 'Jay',
       'Mya', 'Strider', 'an', 'Wesley', 'Solomon', 'Huck', 'very', 'O',
       'Blue', 'Finley', 'Sprinkles', 'Heinrich', 'Shakespeare', 'Fizz',
       'Chip', 'Grey', 'Roosevelt', 'Gromit', 'Willem', 'Dakota', 'Dixie',
       'Al', 'Jackson', 'just', 'Carbon', 'DonDon', 'Kirby', 'Lou',
       'Nollie', 'Chevy', 'Tito', 'Louie', 'Rupert', 'Rufus', 'Brudge',
       'Shadoe', 'Colby', 'Angel', 'Brat', 'Tove', 'my', 'Aubie', 'Kota',
       'Eve', 'Glenn', 'Shelby', 'Sephie', 'Bonaparte', 'Albert',
       'Wishes', 'Rose', 'Theo', 'Rocco', 'Fido', 'Emma', 'Spencer',
       'Lilli', 'Boston', 'Brandonald', 'Corey', 'Leonard', 'Chompsky',
       'Beckham', 'Devón', 'Gert', 'Watson', 'Rubio', 'Keith', 'Dex',
       'Carly', 'Ace', 'Tayzie', 'Grizzie', 'Fred', 'Gilbert', 'Zoe',
       'Stewie', 'Calvin', 'Lilah', 'Spanky', 'Jameson', 'Piper',
       'Atticus', 'Blu', 'Dietrich', 'Divine', 'Tripp', 'his', 'Cora',
       'Huxley', 'Keurig', 'Bookstore', 'Linus', 'Abby', 'Shaggy',
       'Shiloh', 'Gustav', 'Arlen', 'Percy', 'Lenox', 'Sugar', 'Harvey',
       'Blanket', 'actually', 'Geno', 'Stark', 'Beya', 'Kilo', 'Kayla',
       'Maxaroni', 'Doug', 'Edmund', 'Aqua', 'Theodore', 'Chase',
       'getting', 'Rorie', 'Simba', 'Charles', 'Bayley', 'Axel',
       'Storkson', 'Remy', 'Chadrick', 'Kellogg', 'Buckley', 'Livvie',
       'Terry', 'Hermione', 'Ralpher', 'Aldrick', 'this', 'unacceptable',
       'Rooney', 'Crystal', 'Ziva', 'Stefan', 'Pupcasso', 'Puff',
       'Flurpson', 'Coleman', 'Enchilada', 'Raymond', 'all', 'Rueben',
       'Cilantro', 'Karll', 'Sprout', 'Blitz', 'Bloop', 'Lillie',
       'Ashleigh', 'Kreggory', 'Sarge', 'Luther', 'Ivar', 'Jangle',
       'Schnitzel', 'Panda', 'Berkeley', 'Ralphé', 'Charleson', 'Clyde',
       'Harnold', 'Sid', 'Pippa', 'Otis', 'Carper', 'Bowie',
       'Alexanderson', 'Suki', 'Barclay', 'Skittle', 'Ebby', 'Flávio',
       'Smokey', 'Link', 'Jennifur', 'Ozzy', 'Bluebert', 'Stephanus',
       'Bubbles', 'old', 'Zeus', 'Bertson', 'Nico', 'Michelangelope',
       'Siba', 'Calbert', 'Curtis', 'Travis', 'Thumas', 'Kanu', 'Lance',
       'Opie', 'Kane', 'Olive', 'Chuckles', 'Staniel', 'Sora', 'Beemo',
       'Gunner', 'infuriating', 'Lacy', 'Tater', 'Olaf', 'Cecil', 'Vince',
       'Karma', 'Billy', 'Walker', 'Rodney', 'Klevin', 'Malikai',
       'Bobble', 'River', 'Jebberson', 'Remington', 'Farfle', 'Jiminus',
       'Clarkus', 'Finnegus', 'Cupcake', 'Kathmandu', 'Ellie', 'Katie',
       'Kara', 'Adele', 'Zara', 'Ambrose', 'Jimothy', 'Bode', 'Terrenth',
       'Reese', 'Chesterson', 'Lucia', 'Bisquick', 'Ralphson', 'Socks',
       'Rambo', 'Rudy', 'Fiji', 'Rilo', 'Bilbo', 'Coopson', 'Yoda',
       'Millie', 'Chet', 'Crouton', 'Daniel', 'Kaia', 'Murphy', 'Dotsy',
       'Eazy', 'Coops', 'Fillup', 'Miley', 'Charl', 'Reagan', 'Yukon',
       'CeCe', 'Cuddles', 'Claude', 'Jessiga', 'Carter', 'Ole', 'Pherb',
       'Blipson', 'Reptar', 'Trevith', 'Berb', 'Bob', 'Colin', 'Brian',
       'Oliviér', 'Grady', 'Kobe', 'Freddery', 'Bodie', 'Dunkin', 'Wally',
       'Tupawc', 'Amber', 'Edgar', 'Teddy', 'Kingsley', 'Brockly',
       'Richie', 'Molly', 'Vinscent', 'Cedrick', 'Hazel', 'Lolo', 'Eriq',
       'Phred', 'the', 'Oddie', 'Maxwell', 'Geoff', 'Covach', 'Durg',
       'Fynn', 'Ricky', 'Herald', 'Lucky', 'Ferg', 'Trip', 'Clarence',
       'Hamrick', 'Brad', 'Pubert', 'Frönq', 'Derby', 'Lizzie', 'Ember',
       'Blakely', 'Opal', 'Marq', 'Kramer', 'Barry', 'Gordon', 'Baxter',
       'Mona', 'Horace', 'Crimson', 'Birf', 'Hammond', 'Lorelei', 'Marty',
       'Brooks', 'Petrick', 'Hubertson', 'Gerbald', 'Oreo', 'Bruiser',
       'Perry', 'Bobby', 'Jeph', 'Obi', 'Tino', 'Kulet', 'Sweets', 'Lupe',
       'Tiger', 'Jiminy', 'Griffin', 'Banjo', 'Brandy', 'Lulu', 'Darrel',
       'Taco', 'Joey', 'Patrick', 'Kreg', 'Todo', 'Tess', 'Ulysses',
       'Toffee', 'Apollo', 'Asher', 'Glacier', 'Chuck', 'Champ', 'Ozzie',
       'Griswold', 'Cheesy', 'Moofasa', 'Hector', 'Goliath', 'Kawhi',
       'by', 'Emmie', 'Penelope', 'Willie', 'Rinna', 'Mike', 'William',
       'Dwight', 'Evy', 'officially', 'Rascal', 'Linda', 'Tug', 'Tango',
       'Grizz', 'Jerome', 'Crumpet', 'Jessifer', 'Izzy', 'Ralph', 'Sandy',
       'Humphrey', 'Tassy', 'Juckson', 'Chuq', 'Tyrus', 'Karl',
       'Godzilla', 'Vinnie', 'Kenneth', 'Herm', 'Bert', 'Striker',
       'Donny', 'Pepper', 'Bernie', 'Buddah', 'Lenny', 'Arnold', 'Zuzu',
       'Mollie', 'Laela', 'Tedders', 'Superpup', 'Rufio', 'Jeb', 'Rodman',
       'Jonah', 'Chesney', 'life', 'Henry', 'Bobbay', 'Mitch', 'Kaiya',
       'Acro', 'Aiden', 'Obie', 'Dot', 'Shnuggles', 'Kendall', 'Jeffri',
       'Steve', 'Mac', 'Fletcher', 'Kenzie', 'Pumpkin', 'Schnozz',
       'Gustaf', 'Cheryl', 'Ed', 'Leonidas', 'Norman', 'Caryl', 'Scott',
       'Taz', 'Darby', 'Jackie', 'light', 'Jazz', 'Franq', 'Pippin',
       'Rolf', 'Snickers', 'Ridley', 'Cal', 'Bradley', 'Bubba', 'Tuco',
       'Patch', 'Mojo', 'Batdog', 'Dylan', 'space', 'Mark', 'JD',
       'Alejandro', 'Scruffers', 'Pip', 'Julius', 'Tanner', 'Sparky',
       'Anthony', 'Holly', 'Jett', 'Amy', 'Sage', 'Andy', 'Mason',
       'Trigger', 'Antony', 'Creg', 'Traviss', 'Gin', 'Jeffrie', 'Danny',
       'Ester', 'Pluto', 'Bloo', 'Edd', 'Willy', 'Herb', 'Damon',
       'Peanut', 'Nigel', 'Butters', 'Sandra', 'Fabio', 'Randall', 'Liam',
       'Tommy', 'Ben', 'Raphael', 'Julio', 'Andru', 'Kloey', 'Shawwn',
       'Skye', 'Kollin', 'Ronduh', 'Billl', 'Saydee', 'Dug', 'Tessa',
       'Sully', 'Kirk', 'Ralf', 'Clarq', 'Jaspers', 'Samsom', 'Harrison',
       'Chaz', 'Jeremy', 'Jaycob', 'Lambeau', 'Ruffles', 'Amélie', 'Bobb',
       'Banditt', 'Kevon', 'Winifred', 'Hanz', 'Churlie', 'Zeek',
       'Timofy', 'Maks', 'Jomathan', 'Kallie', 'Marvin', 'Spark',
       'Gòrdón', 'Jo', 'DayZ', 'Jareld', 'Torque', 'Ron', 'Skittles',
       'Cleopatricia', 'Erik', 'Stu', 'Tedrick', 'Filup', 'Kial',
       'Naphaniel', 'Dook', 'Hall', 'Philippe', 'Biden', 'Fwed',
       'Genevieve', 'Joshwa', 'Bradlay', 'Clybe', 'Keet', 'Carll',
       'Jockson', 'Josep', 'Lugan', 'Christoper'], dtype=object)

- some of these are obviously not names - such as "a", "actually", "all", "None", "not", "incredibly", "very", "my", "his", "this", etc. (will be further examined in cleaning)

In [115]:
api_tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2057 entries, 0 to 2056
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2057 non-null   int64
 1   retweet_count   2057 non-null   int64
 2   favorite_count  2057 non-null   int64
dtypes: int64(3)
memory usage: 48.3 KB

In [116]:
df_twitter_archive['doggo'].unique()

array(['None', 'doggo'], dtype=object)

In [117]:
df_twitter_archive['floofer'].unique()

array(['None', 'floofer'], dtype=object)

In [118]:
df_twitter_archive['pupper'].unique()

array(['None', 'pupper'], dtype=object)

In [119]:
df_twitter_archive['puppo'].unique()

array(['None', 'puppo'], dtype=object)

- All four of the above columns are essentially empty, even though they don't show NaN. This is pointless and might as well be deleted altogether.

### Initial assessment summary:

#### Quality Issues:
<ol>
        <li>In "df_twitter_archive", tweet ids are listed in descending order (other two dataframes are listed in tweet id ascending order)</li>
    <br/>
     <li>In "df_image_predictions", breed names are not uniform in their casing (some start with uppercase, some lowercase)</li>
    <br/>
    <li>NaN values in "df_twitter_archive" dataframe</li>
    <br/>
    <li>Remove ids missing from "api_tweets_df" from "df_image_predictions"</li>
    <br/>
    <li>Remove ids missing from "api_tweets_df" from "df_twitter_archive"</li>
    <br/>
    <li>Column names in "df_image_predictions" are not descriptive</li>
    <br/>
    <li>In "df_twitter_archive", "Timestamp" column is just a string/object, not a datetime type</li>
    <br/>
    <li>In "df_twitter_archive" "name" column - several values are obviously not names (see list in above bullet point) </li>
    <br/>
</ol>

#### Tidiness Issues:
<ol>
    <li>"df_twitter_archive" timestamp can be separated into year, month, day, time</li>
    <br/>
    <li>"df_twitter_archive" columns "doggo", "floofer", "pupper", and "puppo" have "None" listed for all values. These columns hold no value and should just be dropped. (Tidiness issue because columns should store variables and these columns store nothing). </li>
    <br/>
    <li>"df_twitter_archive" can be separated to enhance tidiness into a dataframe with tweet_ids and text, and a dataframe with tweet_id and ratings. Could be even further separated into tweet_id and name, tweet_id and timestamp, tweet_id and url, etc. </li>
    <br/>
    <li>Make a clean master dataframe</li>
</ol>

# Clean

### First, I'll make a copy of each original dataframe to clean.

In [435]:
clean_twitter_archive = df_twitter_archive.copy()

In [436]:
clean_image_predictions = df_image_predictions.copy()

In [437]:
clean_api_tweets = api_tweets_df.copy()

#### Quality Issue #1

#### Define

1.In "df_twitter_archive", tweet ids are listed in descending order (other two dataframes are listed in tweet id ascending order)

#### Code

In [438]:
# shows dataframe tweet_ids in descending order
clean_twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [439]:
# the tweet_ids in clean_twitter_archive were in descending order, this reorders them to match the other two
clean_twitter_archive = clean_twitter_archive.sort_values(by=['tweet_id'], ascending=True)

# resets the index so it starts at 0
clean_twitter_archive.reset_index(inplace=True)

# drops the old index column
clean_twitter_archive.drop(columns={'index'}, inplace=True)

#### Test

In [440]:
# checks to make sure the dataframe was reordered correctly
clean_twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None
1,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
3,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
4,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None

#### Quality issue #2

#### Define

1.In "df_image_predictions", breed names are not uniform in their casing (some start with uppercase, some lowercase).

#### Code

In [441]:
#changes all letters in strings in this column to lowercase letters
clean_image_predictions.p1 = clean_image_predictions.p1.str.lower()

In [442]:
#changes all letters in strings in this column to lowercase letters
clean_image_predictions.p2 = clean_image_predictions.p2.str.lower()

In [443]:
#changes all letters in strings in this column to lowercase letters
clean_image_predictions.p3 = clean_image_predictions.p3.str.lower()

#### Test

In [444]:
# looks at columns to ensure letters have been made lowercase
clean_image_predictions[['p1', 'p2', 'p3']]

                          p1                  p2                           p3
0     welsh_springer_spaniel              collie            shetland_sheepdog
1                    redbone  miniature_pinscher          rhodesian_ridgeback
2            german_shepherd            malinois                   bloodhound
3        rhodesian_ridgeback             redbone           miniature_pinscher
4         miniature_pinscher          rottweiler                     doberman
...                      ...                 ...                          ...
2070                  basset    english_springer  german_short-haired_pointer
2071             paper_towel  labrador_retriever                      spatula
2072               chihuahua            malamute                       kelpie
2073               chihuahua            pekinese                     papillon
2074                  orange               bagel                       banana

[2075 rows x 3 columns]

#### Quality Issue #3

#### Define

2.	NaN values in "df_twitter_archive" dataframe. I don't want to drop all rows where any field is NaN, but I will look at columns in which a majority of the values are NaN and may be able to drop those columns all together.

#### Code

In [445]:
# get a quick look at what columns may have a lot of NaN values
clean_twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [446]:
# deletes column numbers 1,2,6,7,8 - these columns contain a relatively small amount of data compared to the others 
# and aren't variables I am interested in analyzing at this time anyway

clean_twitter_archive.drop(columns={'in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'}, inplace=True)

#### Test

In [447]:
# checking for any additional NaN values
clean_twitter_archive[clean_twitter_archive.isna().any(axis=1)]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
57,667070482143944705,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,NaN,10,10,None,None,None,None,None
166,668967877119254528,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\n@wane15,NaN,12,10,None,None,None,None,None
206,669684865554620416,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,NaN,11,10,None,None,None,None,None
317,671550332464455680,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,NaN,1,10,None,None,None,None,None
415,673716320723169284,2015-12-07 04:11:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The millennials have spoken and we've decided ...,NaN,1,10,None,None,None,None,None
441,674330906434379776,2015-12-08 20:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10\n@ABC7,NaN,13,10,None,None,None,None,None
450,674606911342424069,2015-12-09 15:09:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The 13/10 also takes into account this impecca...,NaN,13,10,None,None,None,None,None
460,674742531037511680,2015-12-10 00:08:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Some clarification is required. The dog is sin...,NaN,11,10,None,None,None,None,None
511,675849018447167488,2015-12-13 01:25:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This dog is being demoted to a 9/10 for not we...,NaN,9,10,None,None,None,None,None
536,676590572941893632,2015-12-15 02:32:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After some outrage from the crowd. Bubbles is ...,NaN,7,10,None,None,None,None,None
581,678023323247357953,2015-12-19 01:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After getting lost in Reese's eyes for several...,NaN,13,10,None,None,None,None,None
666,681340665377193984,2015-12-28 05:07:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been told there's a slight possibility he...,NaN,5,10,None,None,None,None,None
692,682808988178739200,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,20,16,None,None,None,None,None
737,684969860808454144,2016-01-07 05:28:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...","For those who claim this is a goat, u are wron...",NaN,5,10,None,None,None,None,None
750,685681090388975616,2016-01-09 04:34:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jack deserves another round of applause. If yo...,NaN,14,10,None,None,None,None,None
757,686035780142297088,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,NaN,4,20,None,None,None,None,None
832,690607260360429569,2016-01-22 18:49:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 @LightningHoltt,NaN,12,10,None,None,None,None,None
858,692423280028966913,2016-01-27 19:05:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: just noticed this dog has some extra ...,NaN,9,10,None,None,None,None,None
876,693582294167244802,2016-01-30 23:51:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Personally I'd give him an 11/10. Not sure why...,NaN,11,10,None,None,None,None,None
881,693644216740769793,2016-01-31 03:57:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",BREAKING PUPDATE: I've just been notified that...,NaN,10,10,None,None,None,None,None
909,696490539101908992,2016-02-08 00:27:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After reading the comments I may have overesti...,NaN,1,10,None,None,None,None,None
910,696518437233913856,2016-02-08 02:18:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my god 10/10 for every little hot dog pupper,NaN,10,10,None,None,None,pupper,None
1010,704491224099647488,2016-03-01 02:19:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10 hero af\n@ABC,NaN,13,10,None,None,None,None,None
1060,707983188426153984,2016-03-10 17:35:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@serial @MrRoles OH MY GOD I listened to all o...,NaN,12,10,None,None,None,None,None
1275,738891149612572673,2016-06-04 00:32:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@mount_alex3 13/10,NaN,13,10,None,None,None,None,None
1350,747651430853525504,2016-06-28 04:42:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Other pupper asked not to have his identity sh...,NaN,12,10,None,None,None,pupper,None
1388,750381685133418496,2016-07-05 17:31:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10 such a good doggo\n@spaghemily,NaN,13,10,None,doggo,None,None,None
1498,763956972077010945,2016-08-12 04:35:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@TheEllenShow I'm not sure if you know this bu...,NaN,12,10,None,doggo,None,None,None
1512,766714921925144576,2016-08-19 19:14:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",His name is Charley and he already has a new s...,NaN,13,10,None,None,None,None,None
1648,785515384317313025,2016-10-10 16:20:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Today, 10/10, should be National Dog Rates Day",NaN,10,10,None,None,None,None,None
1654,786051337297522688,2016-10-12 03:50:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10 for breakdancing puppo @shibbnbot,NaN,13,10,None,None,None,None,puppo
1744,797165961484890113,2016-11-11 19:55:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@JODYHiGHROLLER it may be an 11/10 but what do...,NaN,11,10,None,None,None,None,None
1779,800859414831898624,2016-11-22 00:32:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@SkyWilliams doggo simply protecting you from ...,NaN,11,10,None,doggo,None,None,None
1785,801854953262350336,2016-11-24 18:28:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE...,NaN,11,10,None,None,None,None,None
1842,811647686436880384,2016-12-21 19:01:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: I've been informed that Augie was act...,NaN,11,10,None,None,None,None,None
1857,813130366689148928,2016-12-25 21:12:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been informed by multiple sources that th...,NaN,12,10,None,None,None,None,None
1928,821153421864615936,2017-01-17 00:33:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@imgur for a polar bear tho I'd say 13/10 is a...,NaN,13,10,None,None,None,None,None
1946,823333489516937216,2017-01-23 00:56:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@HistoryInPics 13/10,NaN,13,10,None,None,None,None,None
1968,826598799820865537,2017-02-01 01:11:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I was going to do 007/10, but the joke wasn't ...",NaN,7,10,None,None,None,None,None
1980,828361771580813312,2017-02-05 21:56:51 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Beebop and Doobert should start a band 12/10 w...,NaN,12,10,None,None,None,None,None
2009,831926988323639298,2017-02-15 18:03:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@UNC can confirm 12/10,NaN,12,10,None,None,None,None,None
2013,832088576586297345,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@docmisterio account started on 11/15/15,NaN,11,15,None,None,None,None,None
2042,835246439529840640,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,960,0,None,None,None,None,None
2064,838085839343206401,2017-03-04 17:56:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@bragg6of8 @Andy_Pace_ we are still looking fo...,NaN,15,10,None,None,None,None,None
2065,838150277551247360,2017-03-04 22:12:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus 182/10,NaN,182,10,None,None,None,None,None
2081,840698636975636481,2017-03-11 22:59:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@0_kelvin_0 &gt;10/10 is reserved for puppos s...,NaN,10,10,None,None,None,None,None
2121,847617282490613760,2017-03-31 01:11:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@breaannanicolee PUPDATE: Cannon has a heart ...,NaN,13,10,None,None,None,None,None
2127,848213670039564288,2017-04-01 16:41:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jerry just apuppologized to me. He said there ...,NaN,11,10,None,None,None,None,None
2137,850333567704068097,2017-04-07 13:04:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus MARK THAT DOG HAS SEEN AND EXPERIE...,NaN,13,10,None,None,None,None,None
2166,855860136149123072,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,NaN,666,10,None,None,None,None,None
2167,855862651834028034,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,NaN,420,10,None,None,None,None,None
2169,856288084350160898,2017-04-23 23:26:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@xianmcguire @Jenna_Marbles Kardashians wouldn...,NaN,14,10,None,None,None,None,None
2170,856330835276025856,2017-04-24 02:15:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Jenna_Marbles: @dog_rates Thanks for ratin...,NaN,14,10,None,None,None,None,None
2176,857214891891077121,2017-04-26 12:48:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Marc_IRL pixelated af 12/10,NaN,12,10,None,None,None,None,None
2207,863427515083354112,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,NaN,12,10,None,None,None,None,None
2242,870726314365509632,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,10,10,None,None,None,None,None
2291,879674319642796034,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,NaN,14,10,None,None,None,None,None
2300,881633300179243008,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,17,10,None,None,None,None,None
2325,886267009285017600,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,12,10,None,None,None,None,None

#### Clean

In [448]:
# based on the test above, I still need to clean the NaN values in 'expanded_urls'

clean_twitter_archive.expanded_urls.fillna(value='None', inplace=True)

#### Re-test

In [449]:
# checking for any additional NaN values - no NaN values appeared = success
clean_twitter_archive[clean_twitter_archive.isna().any(axis=1)]

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

#### Quality Issue #4

#### Define

3.	Remove ids missing from "api_tweets_df" from "df_image_predictions." 
        - there were ids missing from the api request results which need to be deleted from df_image_predictions so the user_ids all match

#### Code

In [450]:
ids_to_delete

[680055455951884288,
 754011816964026368,
 759566828574212096,
 759923798737051648,
 771004394259247104,
 779123168116150273,
 802247111496568832,
 829374341691346946,
 837012587749474308,
 837366284874571778,
 842892208864923648,
 844704788403113984,
 851861385021730816,
 851953902622658560,
 861769973181624320,
 872261713294495745,
 873697596434513921,
 888202515573088257]

In [451]:
# loop to get row index where tweet_id == tweet_ids not found in api request

row_indices_list = []

for id in ids_to_delete:

    index = clean_image_predictions.index
    condition = clean_image_predictions['tweet_id'] == id
    row_indices = index[condition].tolist()

    row_indices_list.append(row_indices)

In [452]:
# found one line solution to flatten row_indices list into one list on stackoverflow - https://stackoverflow.com/questions/952914/how-to-make-a-flat-list-out-of-a-list-of-lists
row_indices_list = [item for sublist in row_indices_list for item in sublist]

In [453]:
# checking row_indices_list to make sure it is a "flat list" (instead of a list of lists)
row_indices_list

[607,
 1309,
 1349,
 1352,
 1413,
 1470,
 1615,
 1785,
 1835,
 1837,
 1864,
 1870,
 1902,
 1903,
 1944,
 1985,
 1992,
 2055]

In [454]:
# loop through list and drop rows with index where tweet_id == tweet_ids not found from api requests
for index in row_indices_list:
    clean_image_predictions.drop(index={index}, inplace=True)

In [455]:
clean_image_predictions.reset_index(inplace=True)

In [456]:
clean_image_predictions.drop(columns={'index'}, inplace=True)

In [457]:
clean_image_predictions

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,welsh_springer_spaniel,0.465074,True,collie,0.156665,True,shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,german_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,rottweiler,0.243682,True,doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2052,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,english_springer,0.225770,True,german_short-haired_pointer,0.175219,True
2053,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,labrador_retriever,0.168086,True,spatula,0.040836,False
2054,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2055,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,chihuahua,0.323581,True,pekinese,0.090647,True,papillon,0.068957,True
2056,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

#### Test

In [458]:
# check to see if rows have been dropped successfully - 2057 rows = success!
clean_image_predictions

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,welsh_springer_spaniel,0.465074,True,collie,0.156665,True,shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,german_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,rottweiler,0.243682,True,doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2052,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,english_springer,0.225770,True,german_short-haired_pointer,0.175219,True
2053,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,labrador_retriever,0.168086,True,spatula,0.040836,False
2054,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2055,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,chihuahua,0.323581,True,pekinese,0.090647,True,papillon,0.068957,True
2056,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

#### Quality Issue #5

#### Define

4.	Remove ids missing from "api_tweets_df" from "df_twitter_archive" 
    - similar to the step above but for different dataframe, there were ids missing from the api request results which need to be deleted from df_twitter_archive so the user_ids all match

#### Code

In [459]:
# loop through list and drop rows with index where tweet_id == tweet_ids not found from api requests
# we are re-using row_indices_list which we found earlier in the above cleaning step
for index in row_indices_list:
    clean_twitter_archive.drop(index={index}, inplace=True)

#### Test

In [460]:
# check to see if rows have been dropped successfully - 2057 rows = success!
len(clean_twitter_archive)

2338

#### <span style="color:red">Re-Clean</span>

<span style="color:red">Oops, looks like clean_twitter_archive has extra values which I did not notice in the initial assessment. I'll have to get rid of the extra rows which are in excess of rows found in clean_image_predictions.</span>

In [461]:
#looking at the last few tweet_ids to see where clean_twitter_archive matches up
clean_image_predictions.tail()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2052,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,english_springer,0.225770,True,german_short-haired_pointer,0.175219,True
2053,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,labrador_retriever,0.168086,True,spatula,0.040836,False
2054,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2055,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,chihuahua,0.323581,True,pekinese,0.090647,True,papillon,0.068957,True
2056,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [462]:
#looking at the last few tweet_ids to see where clean_twitter_archive matches up
clean_twitter_archive.tail()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,891327558926688256,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
2352,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
2353,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
2354,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2355,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

In [463]:
# slices off the excess rows to match rows/length/tweet_ids to other two dataframes 

clean_twitter_archive = clean_twitter_archive.iloc[0:2057]

# resets the index so it starts at 0
clean_twitter_archive.reset_index(inplace=True)

# drops the old index column
clean_twitter_archive.drop(columns={'index'}, inplace=True)

#### Re-Test

In [464]:
# check to see if rows have been dropped successfully - 2057 rows = success!
len(clean_twitter_archive)

2057

#### Quality Issue #6

#### Define

5.	Column names in "df_image_predictions" are not descriptive
    - column names (p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog) need to be changed to make more sense to the audience/end user
    - I'll use the "Project Motivation" documentation to rename the columns

#### Code

In [465]:
# renames columns
clean_image_predictions.rename(columns={"p1":"breed_prediction_1", "p1_conf":"prediction_confidence_1", "p1_dog":"prediction_1_is_breed","p2":"breed_prediction_2","p2_conf":"prediction_confidence_2","p2_dog":"prediction_2_is_breed","p3":"breed_prediction_3","p3_conf":"prediction_confidence_3","p3_dog":"prediction_3_is_breed"}, inplace=True)

#### Test

In [466]:
# checks to see if all columns were successfully renamed
clean_image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2057 entries, 0 to 2056
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tweet_id                 2057 non-null   int64
 1   jpg_url                  2057 non-null   object
 2   img_num                  2057 non-null   int64
 3   breed_prediction_1       2057 non-null   object
 4   prediction_confidence_1  2057 non-null   float64
 5   prediction_1_is_breed    2057 non-null   bool
 6   breed_prediction_2       2057 non-null   object
 7   prediction_confidence_2  2057 non-null   float64
 8   prediction_2_is_breed    2057 non-null   bool
 9   breed_prediction_3       2057 non-null   object
 10  prediction_confidence_3  2057 non-null   float64
 11  prediction_3_is_breed    2057 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 150.8+ KB

#### Quality Issue #7

#### Define

6.	In "df_twitter_archive", "Timestamp" column is just a string/object, not a datetime type

#### Code

In [467]:
# changes timestamp column values from objects to datetime objects

clean_twitter_archive.loc['timestamp'] = pd.to_datetime(clean_twitter_archive.timestamp)

#### Test

In [468]:
# Dtype column for timestamp now equals datetime datatype instead of object datatype
clean_twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2058 entries, 0 to timestamp
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2057 non-null   object
 1   timestamp           2057 non-null   object
 2   source              2057 non-null   object
 3   text                2057 non-null   object
 4   expanded_urls       2057 non-null   object
 5   rating_numerator    2057 non-null   object
 6   rating_denominator  2057 non-null   object
 7   name                2057 non-null   object
 8   doggo               2057 non-null   object
 9   floofer             2057 non-null   object
 10  pupper              2057 non-null   object
 11  puppo               2057 non-null   object
dtypes: object(12)
memory usage: 209.0+ KB

#### Quality Issue #8

#### Define

7.	In "df_twitter_archive" "name" column - several values are obviously not names

#### Code

In [469]:
# looks at all unique names in list of names. will need to manually sift through them to find names which are incorrect
clean_twitter_archive.name.unique()

array(['None', 'a', 'an', 'the', 'quite', 'Walter', 'Scout', 'Kreggory',
       'Jimothy', 'Christoper', 'Lugan', 'Josep', 'Jockson', 'Jeph',
       'Carll', 'Klevin', 'Keet', 'Dave', 'Clybe', 'Gabe', 'Pipsy',
       'Bradlay', 'Churlie', 'Kenneth', 'Clarence', 'Timison', 'Joshwa',
       'Genevieve', 'Fwed', 'Biden', 'Cupcake', 'Reese', 'Philippe',
       'Hall', 'Dook', 'Naphaniel', 'Frank', 'Kial', 'George', 'Olive',
       'Calvin', 'Filup', 'Shaggy', 'Tedrick', 'Stu', 'Erik',
       'Cleopatricia', 'Otis', 'Jiminy', 'Alfie', 'Skittles', 'Ron',
       'Torque', 'Bisquick', 'Jareld', 'Sophie', 'Rusty', 'DayZ', 'Jo',
       'Gòrdón', 'Spark', 'Marvin', 'Kallie', 'Jomathan', 'Maks',
       'Timofy', 'Zeek', 'Hanz', 'Winifred', 'Kevon', 'Banditt', 'Bobb',
       'Amélie', 'Ruffles', 'Lambeau', 'Herald', 'Jaycob', 'Jeremy',
       'Chaz', 'Ruby', 'Bernie', 'Harrison', 'Terrance', 'Tucker',
       'Samsom', 'Jaspers', 'Clarq', 'Ralf', 'Kirk', 'Sully', 'Tessa',
       'Dug', 'Saydee', 'Chip', 'Oliviér', 'Billl', 'Ronduh', 'Kollin',
       'Keith', 'Linda', 'Skye', 'Penny', 'Shawwn', 'Louie', 'Kloey',
       'Chester', 'Andru', 'Julio', 'Zoey', 'Raphael', 'Ben', 'Tommy',
       'Liam', 'Randall', 'Winston', 'Fabio', 'Wally', 'Sandra',
       'Butters', 'Daisy', 'Larry', 'Nigel', 'Peanut', 'Scooter', 'Damon',
       'Herb', 'Willy', 'Sam', 'Hank', 'Koda', 'Paull', 'Edd', 'Phineas',
       'Bloo', 'Pluto', 'Ester', 'Danny', 'Jeffrie', 'Jerry', 'Gin',
       'Vincent', 'Traviss', 'Creg', 'Antony', 'Trigger', 'Mason', 'Andy',
       'Maggie', 'Sage', 'Remington', 'Amy', 'Jett', 'Colby', 'Toby',
       'Phred', 'Holly', 'Anthony', 'Herm', 'Sparky', 'Lola', 'Lou',
       'Tanner', 'Penelope', 'Malcolm', 'Julius', 'Pip', 'Charlie',
       'Hammond', 'Scruffers', 'Alejandro', 'Jax', 'Reginald', 'Baxter',
       'JD', 'Marley', 'Oscar', 'Mark', 'space', 'Dylan', 'Mia', 'Brad',
       'Batdog', 'Mojo', 'Gizmo', 'Patch', 'Tuco', 'just', 'Bubba',
       'Bradley', 'Opal', 'Cal', 'Ridley', 'Snickers', 'Rolf', 'Kreg',
       'Pippin', 'Franq', 'Buddy', 'Jazz', 'light', 'Jackie', 'Darby',
       'Taz', 'Scott', 'Caryl', 'Norman', 'Leonidas', 'Ed', 'Cheryl',
       'Jimison', 'Terry', 'Gustaf', 'Chet', 'Chuckles', 'Schnozz',
       'Pumpkin', 'Kenzie', 'Fletcher', 'Dexter', 'Mac', 'Eve', 'Frankie',
       'Django', 'Gerald', 'Bella', 'Steve', 'Sandy', 'Jeffri', 'Albert',
       'Kendall', 'Shnuggles', 'Pickles', 'Dot', 'Raymond', 'Riley',
       'Obie', 'one', 'Aiden', 'Acro', 'Kaiya', 'Lucy', 'Stanley', 'Earl',
       'Mitch', 'Bobbay', 'Gus', 'Henry', 'Bob', 'Kenny', 'life',
       'Lennon', 'Chesney', 'Gary', 'Lenny', 'Jonah', 'Ava', 'Bailey',
       'Louis', 'Rodman', 'Jeb', 'Patrick', 'Rufio', 'Superpup',
       'Tedders', 'Laela', 'Mollie', 'Moe', 'Oliver', 'Zuzu', 'Steven',
       'Coops', 'Arnold', 'Reggie', 'Sammy', 'Ellie', 'Buddah', 'Pepper',
       'Donny', 'Striker', 'Bert', 'Duke', 'Griffin', 'Vinnie', 'Bubbles',
       'Godzilla', 'Ash', 'Karl', 'Tyrus', 'Cooper', 'Chuq', 'Juckson',
       'Tassy', 'Derek', 'Humphrey', 'Axel', 'Sadie', 'Ralph', 'Izzy',
       'Jessifer', 'Rosie', 'Crumpet', 'Jerome', 'Crystal', 'Grizz',
       'Tango', 'Dash', 'Wilson', 'Tug', 'Rascal', 'officially', 'Rubio',
       'Hurley', 'Evy', 'Dwight', 'William', 'Mike', 'Hunter', 'Rinna',
       'Willie', 'Bruce', 'Rocco', 'Emmie', 'by', 'Ozzy', 'Kawhi',
       'Goliath', 'CeCe', 'Hector', 'Percy', 'Brody', 'Moofasa', 'Cheesy',
       'Griswold', 'Alice', 'Ozzie', 'Aspen', 'Champ', 'Panda', 'Sarge',
       'actually', 'Chuck', 'Glacier', 'Asher', 'Carly', 'Apollo',
       'Toffee', 'Bo', 'Ulysses', 'Tess', 'Samson', 'Todo', 'Joey',
       'Taco', 'Darrel', 'Lulu', 'Brandy', 'Jack', 'Banjo', 'Sebastian',
       'Tiger', 'Lupe', 'Sweets', 'Kulet', 'Tino', 'Obi', 'Pippa',
       'Bobby', 'Theodore', 'Perry', 'Bruiser', 'Oreo', 'Gerbald',
       'Hubertson', 'Petrick', 'Rocky', 'Brooks', 'Marty', 'Lorelei',
       'Flávio', 'Birf', 'Crimson', 'Horace', 'Olivia', 'Mona', 'Jackson',
       'Gordon', 'Tyrone', 'Barry', 'Kramer', 'Curtis', 'Marq', 'Blakely',
       'Ember', 'Trooper', 'Kilo', 'Lizzie', 'Derby', 'Frönq', 'Pubert',
       'Hamrick', 'Trip', 'Ferg', 'Lucky', 'Chipson', 'Carl', 'Ricky',
       'Luca', 'Fynn', 'Durg', 'Covach', 'Geoff', 'Maxwell', 'Oddie',
       'Eriq', 'Lolo', 'Hazel', 'Cedrick', 'Vinscent', 'Peaches', 'Molly',
       'Leo', 'Richie', 'Brockly', 'Kingsley', 'Teddy', 'Edgar',
       'Herschel', 'Cody', 'Amber', 'Tupawc', 'Milo', 'Dunkin', 'Bodie',
       'Lincoln', 'Phil', 'Freddery', 'Kobe', 'Grady', 'Archie', 'Brian',
       'Lorenzo', 'Colin', 'Wyatt', 'Berb', 'Trevith', 'Reptar', 'Misty',
       'Oakley', 'getting', 'Bentley', 'Blipson', 'Pherb', 'Ole',
       'Carter', 'Cassie', 'Doug', 'Lily', 'Beau', 'Franklin', 'Maximus',
       'Jessiga', 'Claude', 'Cuddles', 'Yukon', 'Reagan', 'Charl',
       'Calbert', 'Miley', 'Fillup', 'Nala', 'Thumas', 'Eazy', 'Dotsy',
       'Murphy', 'Kaia', 'very', 'Daniel', 'Crouton', 'Millie', 'Yoda',
       'Coopson', 'Bilbo', 'Rilo', 'Fiji', 'Rudy', 'Sansa', 'Rambo',
       'Luna', 'Socks', 'Ralphson', 'Lucia', 'Chesterson', 'Terrenth',
       'Bode', 'Ambrose', 'Zara', 'Max', 'Adele', 'Layla', 'Kara',
       'Shadow', 'Katie', 'Elliot', 'Kathmandu', 'Finnegus', 'Clarkus',
       'Keurig', 'Harper', 'Jiminus', 'Rufus', 'Farfle', 'Jebberson',
       'River', 'Bobble', 'Bear', 'Smokey', 'Coco', 'Mister', 'Malikai',
       'Rodney', 'Walker', 'Billy', 'Karma', 'Vince', 'Cecil', 'Olaf',
       'Watson', 'Tater', 'Lacy', 'infuriating', 'Gunner', 'Oshie',
       'Beemo', 'Sora', 'Staniel', 'Roosevelt', 'Kane', 'Sunny',
       'Stubert', 'Opie', 'Lance', 'Piper', 'Kanu', 'Travis', 'Blitz',
       'Benedict', 'Siba', 'Michelangelope', 'Nico', 'Bertson', 'Zeus',
       'old', 'Stephanus', 'Bluebert', 'Jennifur', 'Link', 'Ebby',
       'Skittle', 'Barclay', 'Suki', 'Alexanderson', 'Bowie', 'Carper',
       'Sid', 'Harnold', 'Clyde', 'Neptune', 'Charleson', 'Ralphé',
       'Berkeley', 'Schnitzel', 'Jangle', 'Ivar', 'Sugar', 'Luther',
       'Ashleigh', 'Fred', 'Lillie', 'Bloop', 'Sprout', 'Karll',
       'Cilantro', 'Rueben', 'all', 'Enchilada', 'Wallace', 'Coleman',
       'Flurpson', 'Puff', 'Pupcasso', 'Stefan', 'Ollie', 'Charles',
       'Ziva', 'Rooney', 'unacceptable', 'this', 'Solomon', 'Kyle',
       'Aldrick', 'Ralpher', 'Hermione', 'Moose', 'Livvie', 'Buckley',
       'Kellogg', 'Dakota', 'Maxaroni', 'Rory', 'mad', 'Chadrick', 'Remy',
       'Storkson', 'Bayley', 'Benji', 'Simba', 'Rorie', 'Nollie', 'Chase',
       'Baloo', 'Ted', 'Aqua', 'Edmund', 'Bell', 'Kayla', 'Beya',
       'Harold', 'Stark', 'Geno', 'Blanket', 'Harvey', 'Indie', 'Abby',
       'Jeffrey', 'Lenox', 'Arlen', 'Gustav', 'Shiloh', 'Maddie', 'Clark',
       'Atticus', 'Linus', 'Bookstore', 'Cora', 'his', 'Tripp', 'Divine',
       'not', 'Dietrich', 'Boomer', 'Blu', 'Finn', 'Jameson', 'Spanky',
       'Lilah', 'Stewie', 'Zoe', 'Arnie', 'Meyer', 'Gilbert', 'Tayzie',
       'Ace', 'Dex', 'Winnie', 'Gert', 'Devón', 'Beckham', 'Chompsky',
       'Leonard', 'Corey', 'Odie', 'Brandonald', 'Boston', 'Lilli',
       'Spencer', 'Emma', 'Kirby', 'Fido', 'Atlas', 'Theo', 'Rose',
       'Wishes', 'Bonaparte', 'Sephie', 'Shelby', 'Glenn', 'Leela',
       'Belle', 'Kota', 'Aubie', 'Gromit', 'my', 'Tove', 'Brat', 'Angel',
       'Juno', 'Shadoe', 'Brudge', 'Rupert', 'Philbert', 'Tito', 'Chevy',
       'Jesse', 'DonDon', 'Titan', 'Klein', 'Carbon', 'Al', 'Dixie',
       'Fizz', 'Davey', 'Willem', 'Grey', 'Bungalo', 'Chelsea',
       'Shakespeare', 'Loki', 'Heinrich', 'Sprinkles', 'Finley', 'Anakin',
       'Blue', 'Sampson', 'O', 'Huck', 'Wesley', 'Strider', 'Mya', 'Jay',
       'Hercules', 'Combo', 'Timmy', 'Deacon', 'Cali', 'Godi', 'Loomis',
       'Mairi', 'Balto', 'Stormy', 'Hero', 'Doc', 'Dallas', 'Pinot',
       'Mattie', 'Rizzo', 'Dale', 'Logan', 'Tonks', 'Butter', 'Stella',
       'Rizzy', 'Brownie', 'Eli', 'Ralphy', 'Happy', 'Mosby', 'Betty',
       'Mabel', 'Levi', 'Remus', 'BeBe', 'Monster', 'Robin', 'Nida',
       'Newt', 'Maude', 'Moreton', 'Fiona', 'Dobby', 'Laika', 'Nimbus',
       'Mack', 'Yogi', 'Snicku', 'Romeo', 'Tyr', 'Pancake', 'Iroh',
       'Longfellow', 'Sobe', 'Chef', 'Mauve', 'Bones', 'Ronnie',
       'Severus', 'Sonny', 'Diogi', 'Shooter', 'Zeke', 'Major',
       'incredibly', 'Waffles', 'Stephan', 'Seamus', 'Ito', 'Kyro',
       'Craig', 'Augie', 'Halo', 'Mary', 'Brandi', 'Swagger', 'Bauer',
       'Baron', 'Eleanor', 'Chubbs', 'Alf', 'Akumi', 'Comet', 'Dudley',
       'Binky', 'Timber', 'Chloe', 'Tebow', 'Strudel', 'Ken', 'Eugene',
       'Dido', 'Autumn', 'Florence', 'Tom', 'Wafer', 'Anna', 'Jazzy',
       'Howie', 'Flash', 'Sundance', 'Harlso', 'Duchess', 'Paisley',
       'Hobbes', 'Albus', 'Crawford', 'Cash', 'Pablo', 'Sweet', 'Mo',
       'Ike', 'Pilot', 'Pawnd', 'Cupid', 'Ralphie', 'Boots', 'Kona',
       'Brutus', 'Sailer', 'Alexander', 'Beebop', 'Doobert', 'Lilly',
       'Pete', 'Dutch', 'Kuyu', 'Emanuel', 'Miguel', 'Smiley', 'Eevee',
       'Orion', 'Willow', 'Rhino', 'Gidget', 'Poppy', 'Bronte', 'Gabby',
       'Lipton', 'Sunshine', 'Tobi', 'Mookie', 'Arlo', NaT], dtype=object)

In [470]:
# looking through the unique names, I identified the ones which were obviously not dog names. manually saving them in this list
not_names = ['None', 'a', 'an', 'the', 'quite', 'one', 'by', 'old', 'all', 'unacceptable', 'this', 'mad', 'his', 'not', 'my', 'NaT']

In [471]:
clean_twitter_archive['name'].replace(['None', 'a', 'an', 'the', 'quite', 'one', 'by', 'old', 'all', 'unacceptable', 'this', 'mad', 'his', 'not', 'my', 'NaT'], ['NOT FOUND','NOT FOUND','NOT FOUND','NOT FOUND','NOT FOUND','NOT FOUND','NOT FOUND','NOT FOUND','NOT FOUND','NOT FOUND','NOT FOUND','NOT FOUND','NOT FOUND','NOT FOUND','NOT FOUND','NOT FOUND'], inplace=True)

#### Test

In [472]:
# looks at all unique names in list of names. will need to manually sift through them to find names which are incorrect
clean_twitter_archive.name.unique()

array(['NOT FOUND', 'Walter', 'Scout', 'Kreggory', 'Jimothy',
       'Christoper', 'Lugan', 'Josep', 'Jockson', 'Jeph', 'Carll',
       'Klevin', 'Keet', 'Dave', 'Clybe', 'Gabe', 'Pipsy', 'Bradlay',
       'Churlie', 'Kenneth', 'Clarence', 'Timison', 'Joshwa', 'Genevieve',
       'Fwed', 'Biden', 'Cupcake', 'Reese', 'Philippe', 'Hall', 'Dook',
       'Naphaniel', 'Frank', 'Kial', 'George', 'Olive', 'Calvin', 'Filup',
       'Shaggy', 'Tedrick', 'Stu', 'Erik', 'Cleopatricia', 'Otis',
       'Jiminy', 'Alfie', 'Skittles', 'Ron', 'Torque', 'Bisquick',
       'Jareld', 'Sophie', 'Rusty', 'DayZ', 'Jo', 'Gòrdón', 'Spark',
       'Marvin', 'Kallie', 'Jomathan', 'Maks', 'Timofy', 'Zeek', 'Hanz',
       'Winifred', 'Kevon', 'Banditt', 'Bobb', 'Amélie', 'Ruffles',
       'Lambeau', 'Herald', 'Jaycob', 'Jeremy', 'Chaz', 'Ruby', 'Bernie',
       'Harrison', 'Terrance', 'Tucker', 'Samsom', 'Jaspers', 'Clarq',
       'Ralf', 'Kirk', 'Sully', 'Tessa', 'Dug', 'Saydee', 'Chip',
       'Oliviér', 'Billl', 'Ronduh', 'Kollin', 'Keith', 'Linda', 'Skye',
       'Penny', 'Shawwn', 'Louie', 'Kloey', 'Chester', 'Andru', 'Julio',
       'Zoey', 'Raphael', 'Ben', 'Tommy', 'Liam', 'Randall', 'Winston',
       'Fabio', 'Wally', 'Sandra', 'Butters', 'Daisy', 'Larry', 'Nigel',
       'Peanut', 'Scooter', 'Damon', 'Herb', 'Willy', 'Sam', 'Hank',
       'Koda', 'Paull', 'Edd', 'Phineas', 'Bloo', 'Pluto', 'Ester',
       'Danny', 'Jeffrie', 'Jerry', 'Gin', 'Vincent', 'Traviss', 'Creg',
       'Antony', 'Trigger', 'Mason', 'Andy', 'Maggie', 'Sage',
       'Remington', 'Amy', 'Jett', 'Colby', 'Toby', 'Phred', 'Holly',
       'Anthony', 'Herm', 'Sparky', 'Lola', 'Lou', 'Tanner', 'Penelope',
       'Malcolm', 'Julius', 'Pip', 'Charlie', 'Hammond', 'Scruffers',
       'Alejandro', 'Jax', 'Reginald', 'Baxter', 'JD', 'Marley', 'Oscar',
       'Mark', 'space', 'Dylan', 'Mia', 'Brad', 'Batdog', 'Mojo', 'Gizmo',
       'Patch', 'Tuco', 'just', 'Bubba', 'Bradley', 'Opal', 'Cal',
       'Ridley', 'Snickers', 'Rolf', 'Kreg', 'Pippin', 'Franq', 'Buddy',
       'Jazz', 'light', 'Jackie', 'Darby', 'Taz', 'Scott', 'Caryl',
       'Norman', 'Leonidas', 'Ed', 'Cheryl', 'Jimison', 'Terry', 'Gustaf',
       'Chet', 'Chuckles', 'Schnozz', 'Pumpkin', 'Kenzie', 'Fletcher',
       'Dexter', 'Mac', 'Eve', 'Frankie', 'Django', 'Gerald', 'Bella',
       'Steve', 'Sandy', 'Jeffri', 'Albert', 'Kendall', 'Shnuggles',
       'Pickles', 'Dot', 'Raymond', 'Riley', 'Obie', 'Aiden', 'Acro',
       'Kaiya', 'Lucy', 'Stanley', 'Earl', 'Mitch', 'Bobbay', 'Gus',
       'Henry', 'Bob', 'Kenny', 'life', 'Lennon', 'Chesney', 'Gary',
       'Lenny', 'Jonah', 'Ava', 'Bailey', 'Louis', 'Rodman', 'Jeb',
       'Patrick', 'Rufio', 'Superpup', 'Tedders', 'Laela', 'Mollie',
       'Moe', 'Oliver', 'Zuzu', 'Steven', 'Coops', 'Arnold', 'Reggie',
       'Sammy', 'Ellie', 'Buddah', 'Pepper', 'Donny', 'Striker', 'Bert',
       'Duke', 'Griffin', 'Vinnie', 'Bubbles', 'Godzilla', 'Ash', 'Karl',
       'Tyrus', 'Cooper', 'Chuq', 'Juckson', 'Tassy', 'Derek', 'Humphrey',
       'Axel', 'Sadie', 'Ralph', 'Izzy', 'Jessifer', 'Rosie', 'Crumpet',
       'Jerome', 'Crystal', 'Grizz', 'Tango', 'Dash', 'Wilson', 'Tug',
       'Rascal', 'officially', 'Rubio', 'Hurley', 'Evy', 'Dwight',
       'William', 'Mike', 'Hunter', 'Rinna', 'Willie', 'Bruce', 'Rocco',
       'Emmie', 'Ozzy', 'Kawhi', 'Goliath', 'CeCe', 'Hector', 'Percy',
       'Brody', 'Moofasa', 'Cheesy', 'Griswold', 'Alice', 'Ozzie',
       'Aspen', 'Champ', 'Panda', 'Sarge', 'actually', 'Chuck', 'Glacier',
       'Asher', 'Carly', 'Apollo', 'Toffee', 'Bo', 'Ulysses', 'Tess',
       'Samson', 'Todo', 'Joey', 'Taco', 'Darrel', 'Lulu', 'Brandy',
       'Jack', 'Banjo', 'Sebastian', 'Tiger', 'Lupe', 'Sweets', 'Kulet',
       'Tino', 'Obi', 'Pippa', 'Bobby', 'Theodore', 'Perry', 'Bruiser',
       'Oreo', 'Gerbald', 'Hubertson', 'Petrick', 'Rocky', 'Brooks',
       'Marty', 'Lorelei', 'Flávio', 'Birf', 'Crimson', 'Horace',
       'Olivia', 'Mona', 'Jackson', 'Gordon', 'Tyrone', 'Barry', 'Kramer',
       'Curtis', 'Marq', 'Blakely', 'Ember', 'Trooper', 'Kilo', 'Lizzie',
       'Derby', 'Frönq', 'Pubert', 'Hamrick', 'Trip', 'Ferg', 'Lucky',
       'Chipson', 'Carl', 'Ricky', 'Luca', 'Fynn', 'Durg', 'Covach',
       'Geoff', 'Maxwell', 'Oddie', 'Eriq', 'Lolo', 'Hazel', 'Cedrick',
       'Vinscent', 'Peaches', 'Molly', 'Leo', 'Richie', 'Brockly',
       'Kingsley', 'Teddy', 'Edgar', 'Herschel', 'Cody', 'Amber',
       'Tupawc', 'Milo', 'Dunkin', 'Bodie', 'Lincoln', 'Phil', 'Freddery',
       'Kobe', 'Grady', 'Archie', 'Brian', 'Lorenzo', 'Colin', 'Wyatt',
       'Berb', 'Trevith', 'Reptar', 'Misty', 'Oakley', 'getting',
       'Bentley', 'Blipson', 'Pherb', 'Ole', 'Carter', 'Cassie', 'Doug',
       'Lily', 'Beau', 'Franklin', 'Maximus', 'Jessiga', 'Claude',
       'Cuddles', 'Yukon', 'Reagan', 'Charl', 'Calbert', 'Miley',
       'Fillup', 'Nala', 'Thumas', 'Eazy', 'Dotsy', 'Murphy', 'Kaia',
       'very', 'Daniel', 'Crouton', 'Millie', 'Yoda', 'Coopson', 'Bilbo',
       'Rilo', 'Fiji', 'Rudy', 'Sansa', 'Rambo', 'Luna', 'Socks',
       'Ralphson', 'Lucia', 'Chesterson', 'Terrenth', 'Bode', 'Ambrose',
       'Zara', 'Max', 'Adele', 'Layla', 'Kara', 'Shadow', 'Katie',
       'Elliot', 'Kathmandu', 'Finnegus', 'Clarkus', 'Keurig', 'Harper',
       'Jiminus', 'Rufus', 'Farfle', 'Jebberson', 'River', 'Bobble',
       'Bear', 'Smokey', 'Coco', 'Mister', 'Malikai', 'Rodney', 'Walker',
       'Billy', 'Karma', 'Vince', 'Cecil', 'Olaf', 'Watson', 'Tater',
       'Lacy', 'infuriating', 'Gunner', 'Oshie', 'Beemo', 'Sora',
       'Staniel', 'Roosevelt', 'Kane', 'Sunny', 'Stubert', 'Opie',
       'Lance', 'Piper', 'Kanu', 'Travis', 'Blitz', 'Benedict', 'Siba',
       'Michelangelope', 'Nico', 'Bertson', 'Zeus', 'Stephanus',
       'Bluebert', 'Jennifur', 'Link', 'Ebby', 'Skittle', 'Barclay',
       'Suki', 'Alexanderson', 'Bowie', 'Carper', 'Sid', 'Harnold',
       'Clyde', 'Neptune', 'Charleson', 'Ralphé', 'Berkeley', 'Schnitzel',
       'Jangle', 'Ivar', 'Sugar', 'Luther', 'Ashleigh', 'Fred', 'Lillie',
       'Bloop', 'Sprout', 'Karll', 'Cilantro', 'Rueben', 'Enchilada',
       'Wallace', 'Coleman', 'Flurpson', 'Puff', 'Pupcasso', 'Stefan',
       'Ollie', 'Charles', 'Ziva', 'Rooney', 'Solomon', 'Kyle', 'Aldrick',
       'Ralpher', 'Hermione', 'Moose', 'Livvie', 'Buckley', 'Kellogg',
       'Dakota', 'Maxaroni', 'Rory', 'Chadrick', 'Remy', 'Storkson',
       'Bayley', 'Benji', 'Simba', 'Rorie', 'Nollie', 'Chase', 'Baloo',
       'Ted', 'Aqua', 'Edmund', 'Bell', 'Kayla', 'Beya', 'Harold',
       'Stark', 'Geno', 'Blanket', 'Harvey', 'Indie', 'Abby', 'Jeffrey',
       'Lenox', 'Arlen', 'Gustav', 'Shiloh', 'Maddie', 'Clark', 'Atticus',
       'Linus', 'Bookstore', 'Cora', 'Tripp', 'Divine', 'Dietrich',
       'Boomer', 'Blu', 'Finn', 'Jameson', 'Spanky', 'Lilah', 'Stewie',
       'Zoe', 'Arnie', 'Meyer', 'Gilbert', 'Tayzie', 'Ace', 'Dex',
       'Winnie', 'Gert', 'Devón', 'Beckham', 'Chompsky', 'Leonard',
       'Corey', 'Odie', 'Brandonald', 'Boston', 'Lilli', 'Spencer',
       'Emma', 'Kirby', 'Fido', 'Atlas', 'Theo', 'Rose', 'Wishes',
       'Bonaparte', 'Sephie', 'Shelby', 'Glenn', 'Leela', 'Belle', 'Kota',
       'Aubie', 'Gromit', 'Tove', 'Brat', 'Angel', 'Juno', 'Shadoe',
       'Brudge', 'Rupert', 'Philbert', 'Tito', 'Chevy', 'Jesse', 'DonDon',
       'Titan', 'Klein', 'Carbon', 'Al', 'Dixie', 'Fizz', 'Davey',
       'Willem', 'Grey', 'Bungalo', 'Chelsea', 'Shakespeare', 'Loki',
       'Heinrich', 'Sprinkles', 'Finley', 'Anakin', 'Blue', 'Sampson',
       'O', 'Huck', 'Wesley', 'Strider', 'Mya', 'Jay', 'Hercules',
       'Combo', 'Timmy', 'Deacon', 'Cali', 'Godi', 'Loomis', 'Mairi',
       'Balto', 'Stormy', 'Hero', 'Doc', 'Dallas', 'Pinot', 'Mattie',
       'Rizzo', 'Dale', 'Logan', 'Tonks', 'Butter', 'Stella', 'Rizzy',
       'Brownie', 'Eli', 'Ralphy', 'Happy', 'Mosby', 'Betty', 'Mabel',
       'Levi', 'Remus', 'BeBe', 'Monster', 'Robin', 'Nida', 'Newt',
       'Maude', 'Moreton', 'Fiona', 'Dobby', 'Laika', 'Nimbus', 'Mack',
       'Yogi', 'Snicku', 'Romeo', 'Tyr', 'Pancake', 'Iroh', 'Longfellow',
       'Sobe', 'Chef', 'Mauve', 'Bones', 'Ronnie', 'Severus', 'Sonny',
       'Diogi', 'Shooter', 'Zeke', 'Major', 'incredibly', 'Waffles',
       'Stephan', 'Seamus', 'Ito', 'Kyro', 'Craig', 'Augie', 'Halo',
       'Mary', 'Brandi', 'Swagger', 'Bauer', 'Baron', 'Eleanor', 'Chubbs',
       'Alf', 'Akumi', 'Comet', 'Dudley', 'Binky', 'Timber', 'Chloe',
       'Tebow', 'Strudel', 'Ken', 'Eugene', 'Dido', 'Autumn', 'Florence',
       'Tom', 'Wafer', 'Anna', 'Jazzy', 'Howie', 'Flash', 'Sundance',
       'Harlso', 'Duchess', 'Paisley', 'Hobbes', 'Albus', 'Crawford',
       'Cash', 'Pablo', 'Sweet', 'Mo', 'Ike', 'Pilot', 'Pawnd', 'Cupid',
       'Ralphie', 'Boots', 'Kona', 'Brutus', 'Sailer', 'Alexander',
       'Beebop', 'Doobert', 'Lilly', 'Pete', 'Dutch', 'Kuyu', 'Emanuel',
       'Miguel', 'Smiley', 'Eevee', 'Orion', 'Willow', 'Rhino', 'Gidget',
       'Poppy', 'Bronte', 'Gabby', 'Lipton', 'Sunshine', 'Tobi', 'Mookie',
       'Arlo', NaT], dtype=object)

#### Tidiness Issue #1

#### Define

#### Code

#### Test

#### Tidiness Issue #2

#### Define

#### Code

#### Test

#### Tidiness Issue #3

#### Define

#### Code

#### Test

#### Tidiness Issue #4

#### Define

#### Code

#### Test